@use '../abstracts/placeholders';

.px-form-control {
  @extend %px-focusable;

  width: 100%;
  min-height: var(--px-control-height);
  padding-inline: var(--px-control-padding-x);
  border: 1px solid var(--px-color-border);
  border-radius: var(--px-radius-md);
  background-color: var(--px-color-surface);
  color: var(--px-color-text);
}
