@use '../abstracts/mixins' as mixins;

.px-validation {
  @include mixins.px-type-role('ui', 'helper');

  display: inline-flex;
  align-items: start;
  gap: var(--px-space-2);
  color: var(--px-color-text-soft);
}

.px-validation--success {
  color: var(--px-color-success);
}

.px-validation--warning {
  color: var(--px-color-warning);
}

.px-validation--error {
  color: var(--px-color-danger);
}

.px-field.is-success {
  --px-field-border: var(--px-color-success);
  --px-field-border-hover: var(--px-color-success);
  --px-field-border-focus: var(--px-color-success);
}

.px-field.is-warning {
  --px-field-border: var(--px-color-warning);
  --px-field-border-hover: var(--px-color-warning);
  --px-field-border-focus: var(--px-color-warning);
}

.px-field.is-error {
  --px-field-border: var(--px-color-danger);
  --px-field-border-hover: var(--px-color-danger);
  --px-field-border-focus: var(--px-color-danger);
}
