@use '../abstracts/mixins' as mixins;

.px-validation {
  @include mixins.px-type-role('ui', 'helper');

  display: inline-flex;
  align-items: start;
  gap: var(--px-space-2);
  margin: 0;
  color: var(--px-field-status-color, var(--px-color-text-soft));
}

.px-validation--success {
  color: var(--px-color-success);
}

.px-validation--warning {
  color: var(--px-color-warning);
}

.px-validation--error,
.px-validation--invalid {
  color: var(--px-color-danger);
}
