$px-breakpoints: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  xxl: 96rem
) !default;

$px-containers: (
  sm: 34rem,
  md: 44rem,
  lg: 60rem,
  xl: 72rem,
  xxl: 84rem,
  full: 100%
) !default;
