.px-text-color-text { color: var(--px-color-text) !important; }
.px-text-color-muted { color: var(--px-color-text-muted) !important; }
.px-text-color-soft { color: var(--px-color-text-soft) !important; }
.px-text-color-primary { color: var(--px-color-primary) !important; }
.px-text-color-success { color: var(--px-color-success) !important; }
.px-text-color-warning { color: var(--px-color-warning) !important; }
.px-text-color-danger { color: var(--px-color-danger) !important; }
.px-text-color-info { color: var(--px-color-info) !important; }
.px-text-color-inverse { color: var(--px-color-text-inverse) !important; }
