.px-overflow-auto { overflow: auto !important; }
.px-overflow-hidden { overflow: hidden !important; }
.px-overflow-visible { overflow: visible !important; }
.px-overflow-x-auto { overflow-x: auto !important; }
.px-overflow-y-auto { overflow-y: auto !important; }

.px-cursor-auto { cursor: auto !important; }
.px-cursor-default { cursor: default !important; }
.px-cursor-pointer { cursor: pointer !important; }
.px-cursor-not-allowed { cursor: not-allowed !important; }
.px-cursor-grab { cursor: grab !important; }

.px-select-none { user-select: none !important; }
.px-select-text { user-select: text !important; }
.px-select-all { user-select: all !important; }

.is-hidden { display: none !important; }
