[data-px-density='compact'] {
  --px-control-height: 2.25rem;
  --px-control-padding-x: 0.75rem;
}

[data-px-density='comfortable'] {
  --px-control-height: 3rem;
  --px-control-padding-x: 1.125rem;
}
